.App {
  text-align: center;
}

.foodItem-container {
  width: 350px;
}

.foodItem-poster {
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.foodItem-spec {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.foodItemList-container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.select-style {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
